.npm
.eslintcache
.DS_Store
package-lock.json
server/node_modules/
server/build/
server/npm-debug.log
server/.v8flags.*
server/ts-node-*
server/coverage
server/.nyc_output
web/static/build.js
web/node_modules
web/package-lock.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml